.android-screen {
  width: 100%;
  height: 100vh;
  padding: 4px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.bar {
    border: 1px solid var(--border);
    padding: 3px 8px;
    display: flex;
    justify-content: space-between;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-input {
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 4px 12px;
    background-color: var(--background-secondary);
    color: var(--text-primary);
}